@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #fff;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  background-image:
    radial-gradient(at 0% 0%, rgba(255, 0, 0, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, rgba(50, 50, 50, 0.2) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(255, 0, 0, 0.05) 0px, transparent 50%);
  background-attachment: fixed;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}